body {
  font-family: sans;
  margin-left: 3%;
  margin-right: 3%;
  background-color: black;
  color: white;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

.default-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title          title"
    "navbar         navbar"
    "content        content"
    "dependents     dependents"
    "add-dependents add-dependents"
    "outbound-links outbound-links"
    "edit-tags      edit-tags"
    "comments       comments"
    "footer         footer";
  justify-content: start;
  gap: 6pt;
  width: 100%;
}

h1#title { grid-area: title; }

.header {
    font-weight: bold;
}


/* Nav-bar */

.navbar {
  grid-area: navbar;
  /* What goes inside it */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 50px;
  justify-content: start;
  background-color: #888888;
  margin-bottom: 12pt;
}

a.nav-item {
  color: black;
  text-decoration: none;
}

a#nav-item-1 {
  grid-column: 1;
}

a#nav-item-2 {
  grid-column: 2;
}

a#nav-item-3 {
  grid-column: 3;
}

a#nav-item-4 {
  grid-column: 4;
}

a#nav-item-5 {
  grid-column: 5;
}

a#nav-item-6 {
  grid-column: 6;
}

a#nav-item-7 {
  grid-column: 7;
}
/* End of nav-bar section */

.content-relforms {
  /* Where within the parent grid */
  grid-area: content;
  /* What goes inside it */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 5px;
  grid-column-gap: 20px;
  justify-content: start;
  align-content: start;
}

.content {
  /* Where within the parent grid */
  grid-area: content;
}

.content-wikipage {
  /* Where within the parent grid */
  grid-area: content;
}

.content-default {
  /* Where within the parent grid */
  grid-area: content;
  /* What goes inside it */
  justify-content: start;
}

div.task-grid {
  /* Where within the parent grid */
  grid-area: content;
  /* What goes inside it */
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  align-content: start;
  justify-content: start;
}

div.cornell-notes {
  grid-area: content;
}


p.footer {
  grid-area: footer;
  color: white;
  background-color: #888888;
  text-align: right;
}

a.footer:link { color: white; }
a.footer:visited { color: white; }
