form.formgrid-create {
  grid-area: content;
  display: grid;
  gap: 6px;
  grid-template-columns: auto auto auto 1fr;
  grid-template-areas:
  "uid-title    uid-input    uid-input   uid-input   blank"
  "rel-title    rtype-title  attrs-title attrs-title blank"
  "rel-select   rtype-select attrnames   attrvals    blank"
  "submit       submit       submit      submit      blank";
}

div#header-uid { grid-area: uid-title; }
input#input-uid { grid-area: uid-input; }

div#header-relationships { grid-area: rel-title; }
select#relationships { grid-area: rel-select; }

div#header-resourcetypes { grid-area: rtype-title; }
select#resourcetype { grid-area: rtype-select; }

/* Attributes */
div#header-attributes { grid-area: attrs-title; }

div#attrnames {
  grid-area: attrnames;
  font-weight: bold;
}

div#attrvals { grid-area: attrvals; }
/* End of attributes section */

#createbutton { grid-area: submit; }
