/* Title and attributes */
.title-attributes {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.attrnames {
  font-weight: bold;
  vertical-align: top;
}

.attrvals {
  font-weight: normal;
  vertical-align: top;
}
/* End of attributes section */


/* Tags and outbound links section */

.page-bottom-title {
  background-color: #dddddd;
  color: black;
  /* Reduce the space before its content */
  margin-bottom: 0;
}

.page-bottom-list {
  color: white;
  /* No dot-markers */
  list-style-type: none;
  /* Don't indent the list */
  padding: 0;
}

div#add-dependent {
  grid-area: add-dependents;
  background-color: #888888;
}

a#add-dependent-link {
  color: black;
  text-decoration: none;
}

div#tags {
  grid-area: tags;
}

div#outbound-links {
  grid-area: outbound-links;
}

div#edit-tags {
  grid-area: edit-tags;
  background-color: #888888;
}

a#edit-tags {
  color: black;
  text-decoration: none;
}

/* End of tags and outbound links section */


/* Comments section */

div#comments {
  grid-area: comments;
}

textarea#comment-text {
  width: 100%
}

input#comment-submit {
  width: 100%
}

/* End of comments section */


/* Cornell Notes details */

table.cornell-subnotes {
}

td.cornell-keyword {
  font-weight: bold;
  vertical-align: text-top;
}

td.cornell-subtext {
  vertical-align: text-top;
}

/* End of Cornell Notes */
