/* Attributes */
h2.title-attributes {
  grid-row: 1;
  grid-column: 1 / span 2;
}

table.attributes {
  grid-row: 2;
  grid-column: 1 / span 2;
}

.attrnames {
  font-weight: bold;
  vertical-align: top;
}

.attrvals {
  width: 100%;
}

textarea.attrvals {
  width: 640px;
  height: 80px;
}
/* End of attributes section */


/* Wikipage-specific styling */
.formgrid-wikipage {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "title-title      title-value"
    "wikipage-content wikipage-content"
    "versioncomment   versioncomment"
    "submit-row       submit-row";
}

.wikititle-title {
  grid-area: title-title;
  font-weight: bold;
  margin-bottom: 6pt;
}

.wikititle-value {
  grid-area: title-value;
  margin-bottom: 6pt;
}

#wikipage-content { grid-area: wikipage-content; }

#submit-row {
  grid-area: submit-row;
  width: 100%
}

#wikipage-submit {
  margin: auto;
  align: center;
  width: 100%
}

/* End of wikipage-specific styling */

.formgrid-edititem {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "title-title      title-value"
    "wikipage-content wikipage-content"
    "versioncomment   versioncomment"
    "submit-row       submit-row";
}

div#versioncomment { grid-area: versioncomment; }

input#versioncomment {
  width: 80%;
}
