div#title-add { grid-area: title-add }

.formgrid-add-relationship {
  display: grid;
  grid-template-areas:
    "title-add-rel"
    "rel-input"
    "rel-submit";
}

div#title-add-rel { grid-area: title-add-rel; }

div#rel-input { grid-area: rel-input; }

input.rels-submit { grid-area: rel-submit; }

input#resource_links {
  width: 100%;
}
