/* Search section */
div#gallery-filter {
  background-color: #dddddd;
  padding: 5px;
  display: grid;
  grid-template-areas:
  "header-tags-incl   header-tags-excl"
  "select-tags-incl   select-tags-excl"
  "submit             submit";
}

div#header-tags-incl {
  grid-area: header-tags-incl;
}

select#select-tags-incl {
  grid-area: select-tags-incl;
}

div#header-tags-excl {
  grid-area: header-tags-excl;
}

select#select-tags-excl {
  grid-area: select-tags-excl;
}

div#filter-button {
  margin: 5px;
  grid-area: submit;
}

input#filter-submit {
  width: 100%
}
/* End of search section */


/* Image display */
div#image-list {
  column-count: 4;
  column-rule-style: none;
  column-fill: balance;
}

div.gallery-image {
  column-span: 1;
  text-align: center;
  break-inside: avoid;
  margin: 5px;
  border: 2px;
  border-style: solid;
  border-color: #dddddd;
  outline-width: 2px;
  outline-color: #dddddd;
}

img.gallery-image {
  margin: auto;
  max-width: 160px;
}

div.gallery-image-text {
  text-align: center;
  text-decoration: none;
  max-width: 160px;
  break-inside: avoid;
}
/* End of image display */
