form.formgrid-login {
  grid-area: content;
  display: grid;
  width: 60%;
  align: center;
  gap: 6px;
  grid-template-areas:
  "message        message"
  "username-title username-field"
  "password-title password-field"
  "submit         submit";
}

div#message {
  grid-area: message;
  font-weight: bold;
}

div#username-title {
  grid-area: username-title;
  width: 8em;
}
input#username { grid-area: username-field; }

div#password-title {
  grid-area: password-title;
  width: 8em;
}
input#password { grid-area: password-field; }

input#submit {
  grid-area: submit;
  width: 100%;
}
