div.account-mgmt {
  grid-area: content;
  display: grid;
  width: 60%;
  gap: 6px;
  grid-template-areas:
  "message"
  "add-user"
  "manage-users"
  "password-change"
  "upload-schema"
  "logout-form";
}

div.message {
  grid-area: message;
  font-weight: bold;
}


/* Password-change */

form.password-change {
  grid-area: password-change;
  display: grid;
  grid-template-areas:
  "pwc-header     pwc-header"
  "pwc-pwd1-title pwc-pwd1-field"
  "pwc-pwd2-title pwc-pwd2-field"
  "pwc-pwd-submit pwc-pwd-submit";
}

div.pwc-header {
  grid-area: pwc-header;
  font-weight: bold;
}

div.pwc-pwd1-title {
  grid-area: pwc-pwd1-title;
}

input.pwc-pwd1-field {
  grid-area: pwc-pwd1-field;
}

div.pwc-pwd2-title {
  grid-area: pwc-pwd2-title;
}

input.pwc-pwd2-field {
  grid-area: pwc-pwd2-field;
}

input.pwc-pwd-submit {
  grid-area: pwc-pwd-submit;
}


/* Add user */

form.add-user {
  grid-area: add-user;
  display: grid;
  grid-template-areas:
  "useradd-header         useradd-header"
  "useradd-uid-title      useradd-uid-field"
  "useradd-passwd1-title   useradd-passwd1-field"
  "useradd-passwd2-title   useradd-passwd2-field"
  "useradd-submit         useradd-submit";
}

div.useradd-header {
  grid-area: useradd-header;
  font-weight: bold;
}

div.useradd-uid-title {
  grid-area: useradd-uid-title;
}

input.useradd-uid-field {
  grid-area: useradd-uid-field;
}

div.useradd-passwd1-title {
  grid-area: useradd-passwd1-title;
}

input.useradd-passwd1-field {
  grid-area: useradd-passwd1-field;
}

div.useradd-passwd2-title {
  grid-area: useradd-passwd2-title;
}

input.useradd-passwd2-field {
  grid-area: useradd-passwd2-field;
}

input.useradd-submit {
  grid-area: useradd-submit;
  width: 100%;
}


/* Manage existing users */

form.manage-users {
  grid-area: manage-users;
  display: grid;
  grid-template-areas:
  "usermgr-title    usermgr-title"
  "deactivate-title activate-title"
  "deactivate       activate"
  "usermgr-submit   usermgr-submit";
}

div.usermgr-title {
  grid-area: usermgr-title;
  font-weight: bold;
}

div.deactivate-title {
  grid-area: deactivate-title;
}

div.activate-title {
  grid-area: activate-title;
}

select.deactivate {
  grid-area: deactivate;
}

select.activate {
  grid-area: activate;
}

input.usermgr-submit {
  grid-area: usermgr-submit;
}


/* Upload subschema */

form.schema-upload {
  grid-area: upload-schema;
  display: grid;
  grid-template-areas:
  "schema-upload-header"
  "file-selector"
  "create-new-schema"
  "schema-upload-submit";
}

div.schema-upload-header {
  grid-area: schema-upload-header;
  font-weight: bold;
}

input.file-selector {
  grid-area: file-selector;
}

div.create-new-schema {
  grid-area: create-new-schema;
}

input.schema-upload-submit {
  grid-area: schema-upload-submit;
}


/* Logout */

form.logout-form {
  grid-area: logout-form;
  font-weight: bold;
}

input.submit {
  grid-area: submit;
  width: 100%;
}
